/*:root {
     --clr-accent-bg: #000000
        --clr-accent-drkBlue: #051341
        --clr-accent-medBlue: #4472C4
        --clr-accent-lgtBlue: #6DB6ED
        --clr-accent-graphDrkBlue: #061854
        --clr-accent-graphMedBlue: #CFD5EA
        --clr-accent-graphLgtBlue: #E9EBF5
        --clr-accent-ltrLgt: #000000
        --clr-accent-ltrDark: #051341
} */
/* CODE CITE: watched an exorbitant amount of you tube videos by Kevin Powell https://www.youtube.com/kepowob
              Dani Krossing https://www.youtube.com/c/TheCharmefis
              and dcode https://www.youtube.com/c/dcode-software
              and probably a few not mentioned here */
/* -------- Index Page Styling -------- */
 #indexPage {
    background-color: #000000;
    background-image:  url('../images/CapstoneBgHome.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.indexHero {
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    padding: 0;
}

.indexNavMenu {
    background-color: #051341;
    box-shadow: 2px 2px  #6db6ed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.indexNavLogo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-shadow: 2.5px 3px #3762af;
}

.indexNavMenuItems {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.indexNavMenuItems li {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.indexNavMenuItems li a {
    border-radius: 30px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 50px;
    padding: 5px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}

.indexNavMenuItems li a:hover{
    background: #6db6ed;
    color: #051341;
    transform: scale(1.1);
}


/* -------- Collection Page Styling -------- */
 #collectionPage {
    background-color: #000000;
    background-image: url('../images/CapstoneBg10.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.collectionHero {
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    padding: 0;
}

.collectionNavMenu {
    background-color: #051341;
    box-shadow: 2px 2px  #6db6ed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.collectionNavLogo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-shadow: 2.5px 3px #3762af;
}

.collectionNavSearchBox {
    flex: 1;
    margin: auto 0;
    position: relative;
}

.collectionNavSearchBox button {
    background: #051341;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.9);
    width: 40px;
}

.collectionNavSearchBox input {
    background: #6DB6ED;
    border-radius: 30px;
    border: none;
    color: #051341;
    font-size: 16px;
    height: 40px;
    outline: none;
    text-align: center;
    width: 100%;
}

.collectionNavSearchBox i {
    color: #6db6ed;
    cursor: pointer;
}

.collectionNavMenuItems {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.collectionNavMenuItems li {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.collectionNavMenuItems li a {
    border-radius: 30px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 100px;
    padding: 5px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}

.collectionNavMenuItems li a:hover{
    background: #6db6ed;
    color: #051341;
    transform: scale(1.1);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* -------- Collection Table Styling -------- */
.mainCollection-OuterWrapper {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 2px solid #6DB6ED;
    box-shadow: 0px 0px 20px #4472C4;
    height: 750px;
    justify-content: center;
    margin-left: 150px;
    margin-top: 30px;
    /*max-width: fit-content;*/
    padding: 10px;
    position: absolute;
    /*width: 100%;*/
    width: 1600px;
}

.mainCollection-TableWrapper {
    display: flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 700px;
    justify-content: center;
    margin: 20px;
    margin-left: 35px;
    overflow-y: scroll;
    max-width: fit-content;
    min-width: max-content;
}

.mainCollection {
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    /*max-width: max-content;*/
    width: 1500px;
}

.mainCollection th {
    background-color: #051341;
    color: #ffffff;
    font-size: 1.1em;
    position: sticky;
    text-transform: uppercase;
    top: 0px;
}

/* makes icon same color as bg */
.mainCollection th i {
    color: #051341;
}

.mainCollection th,
.mainCollection td {
    border: 1px solid #ffffff;
    padding: 6px 15px;
    min-width: max-content;
}

.mainCollection tbody tr {
    background-color: #E9EBF5;
    color: #000000;
}

.mainCollection tbody tr:nth-of-type(even) {
    background-color: #CFD5EA;
    color: #000000;
}
/* -------- Collection Table Button Styling -------- */
.mainCollection button {
    background-color: #E9EBF5;
    border-radius: 30px;
    border: 1px solid #061854;
    color: #061854;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px 5px;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: 0.2s ease-in-out;
}

.mainCollection tbody tr:nth-of-type(odd) button {
    background-color: #b8c1e0;
}

.mainCollection button:nth-child(2) {
    border: 1px solid #CC0000;
}

.mainCollection button:nth-child(1):hover {
    background-color: #061854;
    box-shadow: 0 3px #4472C4;
    color: #ffffff;
    transform: scale(1.1);
}

.mainCollection button:nth-child(2):hover {
    background-color: #CC0000;
    box-shadow: 0 3px #4472C4;
    color: #ffffff;
    transform: scale(1.1);
}

/* -------- Collection Table Sort Styling -------- */
.mainCollection th:hover {
    background: #6DB6ED;
    color: #061854;
}

/* -------- AddCard Page Styling -------- */
 #addCardPage {
    background-color: #000000;
    background-image: url('../images/CapstoneBg10.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.addCardHero {
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    padding: 0;
}

.addCardNavMenu {
    background-color: #051341;
    box-shadow: 2px 2px  #6db6ed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.addCardNavLogo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-shadow: 2.5px 3px #3762af;
}

.addCardNavSearchBox {
    flex: 1;
    margin: auto 0;
    position: relative;
}

.addCardNavSearchBox button {
    background: #051341;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.9);
    width: 40px;
}

.addCardNavSearchBox input {
    background: #6DB6ED;
    border-radius: 30px;
    border: none;
    color: #051341;
    font-size: 16px;
    height: 40px;
    outline: none;
    text-align: center;
    width: 100%;
}

.addCardNavSearchBox i {
    color: #6db6ed;
    cursor: pointer;
}

.addCardNavMenuItems {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.addCardNavMenuItems li {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.addCardNavMenuItems li a {
    border-radius: 30px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 50px;
    padding: 5px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}

.addCardNavMenuItems li a:hover{
    background: #6db6ed;
    color: #051341;
    transform: scale(1.1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* -------- AddCard Table Styling -------- */
