/*:root {
     --clr-accent-bg: #000000
        --clr-accent-drkBlue: #051341
        --clr-accent-medBlue: #4472C4
        --clr-accent-lgtBlue: #6DB6ED
        --clr-accent-graphDrkBlue: #061854
        --clr-accent-graphMedBlue: #CFD5EA
        --clr-accent-graphLgtBlue: #E9EBF5
        --clr-accent-ltrLgt: #000000
        --clr-accent-ltrDark: #051341
} */
/* CODE CITE: watched an exorbitant amount of you tube videos by Kevin Powell https://www.youtube.com/kepowob
              Dani Krossing https://www.youtube.com/c/TheCharmefis
              and dcode https://www.youtube.com/c/dcode-software
              and probably a few not mentioned here */
/* -------- Index Page Styling -------- */
 #indexPage {
    background-color: #000000;
    background-image:  url('../images/CapstoneBgHome.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.indexHero {
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    padding: 0;
}

.indexNavMenu {
    background-color: #051341;
    box-shadow: 2px 2px  #6db6ed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.indexNavLogo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-shadow: 2.5px 3px #3762af;
}

.indexNavMenuItems {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.indexNavMenuItems li {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.indexNavMenuItems li a {
    border-radius: 30px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 50px;
    padding: 5px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}

.indexNavMenuItems li a:hover{
    background: #6db6ed;
    color: #051341;
    transform: scale(1.1);
}


/* -------- Collection Page Styling -------- */
 #collectionPage {
    background-color: #000000;
    background-image: url('../images/CapstoneBg10.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.collectionHero {
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    padding: 0;
}

.collectionNavMenu {
    background-color: #051341;
    box-shadow: 2px 2px  #6db6ed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.collectionNavLogo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-shadow: 2.5px 3px #3762af;
}

.collectionNavSearchBox {
    flex: 1;
    margin: auto 0;
    position: relative;
}

.collectionNavSearchBox button {
    background: #051341;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.9);
    width: 40px;
}

.collectionNavSearchBox input {
    background: #6DB6ED;
    border-radius: 30px;
    border: none;
    color: #051341;
    font-size: 16px;
    height: 40px;
    outline: none;
    text-align: center;
    width: 100%;
}

.collectionNavSearchBox i {
    color: #6db6ed;
    cursor: pointer;
}

.collectionNavMenuItems {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.collectionNavMenuItems li {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.collectionNavMenuItems li a {
    border-radius: 30px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 100px;
    padding: 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}

.collectionNavMenuItems li a:hover{
    background: #6db6ed;
    color: #051341;
    transform: scale(1.1);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* -------- Collection Table Styling -------- */

/* ---- Collection Column Headers Styling --- */
.mainCollection-OuterWrapper {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 2px solid #6DB6ED;
    box-shadow: 0px 0px 20px #4472C4;
    height: 750px;
    justify-content: center;
    margin-left: 150px;
    margin-top: 30px;
    /*max-width: fit-content;*/
    padding: 10px;
    position: absolute;
    /*width: 100%;*/
    width: 1600px;
}

.mainCollection-TableWrapper {
    display: flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 700px;
    justify-content: center;
    margin: 20px;
    margin-left: 30px;
    overflow-y: scroll;
    max-width: fit-content;
    min-width: max-content;
}

.mainCollection {
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    /*max-width: max-content;*/
    width: 1500px;
}

thead {
  position: sticky;
  top: 0;
  background: #eee;
}

.mainCollection th {
    background-color: #051341;
    color: #ffffff;
    font-size: 1.1em;
    position: sticky;
    text-transform: uppercase;
    top: 0px;
}

/* makes icon same color as bg */
.mainCollection th i {
    color: #051341;
}

.mainCollection th,
.mainCollection td {
    border: 1px solid #ffffff;
    padding: 6px 15px;
    min-width: max-content;
}

.mainCollection tbody tr {
    background-color: #E9EBF5;
    color: #000000;
}

.mainCollection tbody tr:nth-of-type(even) {
    background-color: #CFD5EA;
    color: #000000;
}

/* ---- Collection Action Headers Styling --- */
.actionHeadersRow th {
    background-color: #051341;
    color: #ffffff;
    font-size: 0.9em;
    position: sticky;
    text-transform: uppercase;
    top: 0px;
}

.actionHeaderInputBox {
    flex: 1;
    margin: auto 0;
    position: relative;
}

.actionHeaderInputBox form button {
    background: #051341;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.9);
    width: 30px;
}

.actionHeaderInputBox input {
    background: #6DB6ED;
    border-radius: 30px;
    border: none;
    color: #051341;
    font-size: 14px;
    height: 30px;
    outline: none;
    text-align: center;
    width: 100%;
}

.actionHeaderInputBox form button i {
    color: #6db6ed;
    cursor: pointer;
}

.actionHeaderInputBox form input::placeholder {
    color: rgba(5, 19, 65, 0.5);
    cursor: pointer;
}

.formSelect {
    background: #6DB6ED;
    border-radius: 30px;
    border: none;
    color: rgba(5, 19, 65, 0.5);
    font-size: 14px;
    height: 30px;
    outline: none;
    text-align: center;
    width: 100%;
}

.formSelect:focus-visible {
    background: #051341;
    color: #6DB6ED;
}

.formSelect:focus:not(:focus-visible) {
     background: #6DB6ED;
     color: rgba(5, 19, 65, 0.5);
}

/* -------- Collection Table Button Styling -------- */
.mainCollection button {
    background-color: #E9EBF5;
    border-radius: 30px;
    border: 1px solid #061854;
    color: #061854;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px 5px;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: 0.2s ease-in-out;
}

.mainCollection tbody tr:nth-of-type(odd) button {
    background-color: #b8c1e0;
}

.mainCollection button:nth-child(2) {
    border: 1px solid #CC0000;
}

.mainCollection button:nth-child(1):hover {
    background-color: #061854;
    box-shadow: 0 3px #4472C4;
    color: #ffffff;
    transform: scale(1.1);
}

.mainCollection button:nth-child(2):hover {
    background-color: #CC0000;
    box-shadow: 0 3px #4472C4;
    color: #ffffff;
    transform: scale(1.1);
}

#collectionDataNo {
    background-image: url('../images/Annul-Kaldheim-MtG-Art.jpg');
    background-position: center;
    background-size: cover;
    line-height: 30px;
    margin-right: 20px;
    opacity: 1.0;
    padding: 5px 15px;
}

.mainCollection p{
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #F4FAD8, 0 0 30px #02B7E4, 0 0 40px #02B7E4, 0 0 50px #287BAF, 0 0 60px #287BAF, 0 0 70px #28405C, 0 0 80px #28405C;
    -webkit-text-stroke: 2px  #0281B6;
}

/* -------- Collection Table Sort Styling -------- */
.mainCollection #collectionTableHeader th:hover {
    background: #6DB6ED;
    color: #061854;
}

/* -------- EditCard Page Styling -------- */
 #editCardPage {
    background-color: #000000;
    background-image: url('../images/CapstoneBg10.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.editCardHero {
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    padding: 0;
}

.editCardNavMenu {
    background-color: #051341;
    box-shadow: 2px 2px  #6db6ed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.editCardNavLogo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-shadow: 2.5px 3px #3762af;
}

.editCardNavMenuItems {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.editCardNavMenuItems li {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.editCardNavMenuItems li a {
    border-radius: 30px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 100px;
    padding: 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}

.editCardNavMenuItems li a:hover{
    background: #6db6ed;
    color: #051341;
    transform: scale(1.1);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* -------- EditCard Table Styling -------- */
.editCard-OuterWrapper {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 2px solid #6DB6ED;
    box-shadow: 0px 0px 20px #4472C4;
    height: 750px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 30px;
    /*max-width: fit-content;*/
    padding: 10px;
    position: absolute;
    /*width: 100%;*/
    width: 1700px;
}

.editCard-TableWrapper {
    display: flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 700px;
    justify-content: center;
    margin: 20px;
    margin-left: 20px;
    overflow-y: scroll;
    max-width: fit-content;
    min-width: max-content;
}

.editCard {
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    /*max-width: max-content;*/
    width: 1500px;
}

.editCard th {
    background-color: #051341;
    color: #ffffff;
    font-size: 1.1em;
    position: sticky;
    text-transform: uppercase;
    top: 0px;
}

.editCard th,
.mainCollection td {
    border: 1px solid #ffffff;
    padding: 6px 15px;
    min-width: max-content;
}

.editCard tbody tr {
    background-color: #E9EBF5;
    color: #000000;
}

.editCard tbody tr:nth-of-type(even) {
    background-color: #CFD5EA;
    color: #000000;
}

/* ------ EditCard Action Buttons Styling --- */
.editCardSearchBox {
    flex: 1;
    margin-left: 1550px;
    margin-bottom: 500px;
    position: top;

}

.editCardSearchBox button {
    background: #051341;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 40px;
    position: top;
    margin-bottom: 500px;
    right: 0;
    top: 0;
    transform: scale(0.9);
    width: 40px;
}

.editCardSearchBox input {
    background: #6DB6ED;
    border-radius: 30px;
    border: none;
    color: #051341;
    font-size: 16px;
    height: 40px;
    outline: none;
    text-align: center;
    width: 150px;
}

.editCardSearchBox i {
    color: #6db6ed;
    cursor: pointer;
}

/* -------- AddCard Page Styling -------- */
 #addCardPage {
    background-color: #000000;
    background-image: url('../images/CapstoneBg10.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.addCardHero {
    box-sizing: border-box;
    height: 90px;
    margin: 0;
    padding: 0;
}

.addCardNavMenu {
    background-color: #051341;
    box-shadow: 2px 2px  #6db6ed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.addCardNavLogo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-right: 20px;
    padding: 5px 15px;
    text-shadow: 2.5px 3px #3762af;
}

.addCardNavSearchBox {
    flex: 1;
    margin: auto 0;
    position: relative;
}

.addCardNavSearchBox button {
    background: #051341;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.9);
    width: 40px;
}

.addCardNavSearchBox input {
    background: #6DB6ED;
    border-radius: 30px;
    border: none;
    color: #051341;
    font-size: 16px;
    height: 40px;
    outline: none;
    text-align: center;
    width: 100%;
}

.addCardNavSearchBox i {
    color: #6db6ed;
    cursor: pointer;
}

.addCardNavMenuItems {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.addCardNavMenuItems li {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.addCardNavMenuItems li a {
    border-radius: 30px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 50px;
    padding: 5px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}

.addCardNavMenuItems li a:hover{
    background: #6db6ed;
    color: #051341;
    transform: scale(1.1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* -------- AddCard Form Styling -------- */
.addCardLowerBody {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content:center;
    align-items: center;
    padding: 10px;
}

.addCardForm-outerWrapper {
    background-image: url('../images/5701-island.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    border: 2px solid #6DB6ED;
    box-shadow: 0px 0px 30px #4472C4;
    height: 750px;
    justify-content: flex;
    margin: auto;
    margin-top: 30px;
    padding: 0px 0px 0px 0px;
}

.addCardForm-innerWrapper {
    background-color: rgba(10,10,10,0.60);
    border-radius: 30px;
    height: 750px;
    margin: auto;
    position: flex;
    width: 700px;
}

.addCardBorder {
    padding: 25px 30px 25px 30px;
    max-width: 625px;
    width: 100%;
}

/* -------- AddCard Form Title Styling -------- */
.container .heading {
    font-size: 35px;
    font-weight: 900;
    position: relative;
    text-align: center;
    text-shadow: 2.5px 3px #3762af;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}

/*.container .heading::before {
    content: ' ';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135dg, #6DB6ED, #051341)
}*/

/* -------- AddCard Form Top Two Rows Styling -------- */
.container form .card-details {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .card-details .card-box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.card-details .card-box .details {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    text-shadow: 3px 3px #051341;
    text-transform: uppercase;
}

.card-details .card-box input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #6DB6ED;
    box-shadow: 0px 0px 30px #4472C4;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.card-details .card-box input:focus,
.card-details .card-box input:valid {
    border-color: #4472C4;
}

/* -------- AddCard Form CheckBox Styling -------- */
.container form .addCardFormColorRow {
    border-radius: 20px;
    background-color: rgba(92, 114, 153, 0.40);
    border: 1px solid #6DB6ED;
    box-shadow: 0px 0px 30px #4472C4;
    border-bottom-width: 2px;
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.container form .addCardFormColorRow .title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    text-shadow: 2px 2px #051341;
    text-transform: uppercase;
}

.container form .addCardFormColorRow .title a {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-shadow: 2px 2px #051341;
    text-transform: uppercase;
}

/* -------- AddCard Form Color CheckBox Styling -------- */
.container form .addCardFormTypeRows {
    border-radius: 20px;
    background-color: rgba(92, 114, 153, 0.40);
    border: 1px solid #6DB6ED;
    box-shadow: 0px 0px 30px #4472C4;
    border-bottom-width: 2px;
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.container form .addCardFormTypeRows .title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    text-shadow: 2px 2px #051341;
    text-transform: uppercase;
}

.container form .addCardFormTypeRows .title a {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-shadow: 2px 2px #051341;
    text-transform: uppercase;
}


/* -------- AddCard Form Editable Card Details Styling -------- */

.cardEditableDetails .cardEditableDetails-box .details-title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    text-shadow: 3px 3px #051341;
    text-transform: uppercase;
}

.cardEditableDetails .cardEditableDetails-box .cardEditableFormSelect {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #6DB6ED;
    box-shadow: 0px 0px 30px #4472C4;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.container form .radioForm-container {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.container form .radioForm-container .radio-form {
    width: calc(100% / 2 - 10px);
    height: 100px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #6DB6ED;
    box-shadow: 0px 0px 30px #4472C4;
    border-bottom-width: 2px;
    background-color: rgba(60, 98, 166, 1);
    /*border-radius: 30px;*/
}

form .radio-form .radio-title {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    text-shadow: 2px 2px #051341;
    text-transform: uppercase;
}

form .radio-form .category {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 5px;
}

.container form .cardEditableDetails {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container form .cardEditableDetails .cardEditableDetails-box {
    width: calc(100% / 2 - 10px);
    margin-bottom: 15px;
}

/* -------- AddCard Action Buttons Row -------- */
.addCardFormEighthRow .formBtn {
    text-align: center;
}

.container form .action-buttons {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container form .action-buttons .addCardFormEighthRow-box {
    width: calc(75% / 2 - 20px);
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.action-buttons .button {
    border-bottom-width: 2px;
    border-radius: 20px;
    border: 1px solid #6DB6ED;
    box-shadow: 0px 0px 20px #4472C4;
    color: rgba(5, 19, 65, 0.75);
    display: block;
    font-size: 20px;
    font-weight: 600;
    height: 35px;
    margin-bottom: 5px;
    outline: none;
    padding-left: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 100%;
}

.action-buttons .button:hover {
    transform: scale(1.1);
}

/*:root {
     --clr-accent-bg: #000000
        --clr-accent-drkBlue: #051341
        --clr-accent-medBlue: #4472C4
        --clr-accent-lgtBlue: #6DB6ED
        --clr-accent-graphDrkBlue: #061854
        --clr-accent-graphMedBlue: #CFD5EA
        --clr-accent-graphLgtBlue: #E9EBF5
        --clr-accent-ltrLgt: #000000
        --clr-accent-ltrDark: #051341
} */
